body {
    text-align: center;
    font-family: Arial;
    background-color: purple;
}

.rad {
    margin: 10px;
}

.key {
    width: 60px;
    height: 60px;
    border:2px solid black;
    display:inline-block;
    line-height:60px;
    font-size:25px;
    background-color:white;
    margin:3px;
    transition:0.2s;
}

bild {
    width: 400px;
    display: none;
    margin-top: 10px;
}